/* Coolors Exported Palette - https://coolors.co/fefefe-0c131d-bcbcbd-1d6bd7-78797a-022886-934fe4-6cadfe-97521e-18d760 */

/* CSS HEX */
--white: #fefefeff;
--rich-black: #0c131dff;
--silver: #bcbcbdff;
--celtic-blue: #1d6bd7ff;
--gray: #78797aff;
--resolution-blue: #022886ff;
--veronica: #934fe4ff;
--ruddy-blue: #6cadfeff;
--brown: #97521eff;
--malachite: #18d760ff;

/* CSS HSL */
--white: hsla(0, 0%, 100%, 1);
--rich-black: hsla(215, 41%, 8%, 1);
--silver: hsla(240, 1%, 74%, 1);
--celtic-blue: hsla(215, 76%, 48%, 1);
--gray: hsla(210, 1%, 47%, 1);
--resolution-blue: hsla(223, 97%, 27%, 1);
--veronica: hsla(267, 73%, 60%, 1);
--ruddy-blue: hsla(213, 99%, 71%, 1);
--brown: hsla(26, 67%, 35%, 1);
--malachite: hsla(143, 80%, 47%, 1);

/* SCSS HEX */
$white: #fefefeff;
$rich-black: #0c131dff;
$silver: #bcbcbdff;
$celtic-blue: #1d6bd7ff;
$gray: #78797aff;
$resolution-blue: #022886ff;
$veronica: #934fe4ff;
$ruddy-blue: #6cadfeff;
$brown: #97521eff;
$malachite: #18d760ff;

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$rich-black: hsla(215, 41%, 8%, 1);
$silver: hsla(240, 1%, 74%, 1);
$celtic-blue: hsla(215, 76%, 48%, 1);
$gray: hsla(210, 1%, 47%, 1);
$resolution-blue: hsla(223, 97%, 27%, 1);
$veronica: hsla(267, 73%, 60%, 1);
$ruddy-blue: hsla(213, 99%, 71%, 1);
$brown: hsla(26, 67%, 35%, 1);
$malachite: hsla(143, 80%, 47%, 1);

/* SCSS RGB */
$white: rgba(254, 254, 254, 1);
$rich-black: rgba(12, 19, 29, 1);
$silver: rgba(188, 188, 189, 1);
$celtic-blue: rgba(29, 107, 215, 1);
$gray: rgba(120, 121, 122, 1);
$resolution-blue: rgba(2, 40, 134, 1);
$veronica: rgba(147, 79, 228, 1);
$ruddy-blue: rgba(108, 173, 254, 1);
$brown: rgba(151, 82, 30, 1);
$malachite: rgba(24, 215, 96, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-right: linear-gradient(90deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-bottom: linear-gradient(180deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-left: linear-gradient(270deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-top-right: linear-gradient(45deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-bottom-right: linear-gradient(135deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-top-left: linear-gradient(225deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-bottom-left: linear-gradient(315deg, #fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);
$gradient-radial: radial-gradient(#fefefeff, #0c131dff, #bcbcbdff, #1d6bd7ff, #78797aff, #022886ff, #934fe4ff, #6cadfeff, #97521eff, #18d760ff);